* {
  margin: 0;
  padding: 0;
}

html {
  height:100%;
  overflow: hidden;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 32px;
}

h1,
h2 {
  color: white;
}

body {
  background-color: #C76AF1;
  height: 100%;
  margin: -8px;
}

button {
  background-color: #AB49DA;
  color: #f0f2f5;
  cursor: pointer;
  font-family: 'Hubballi', cursive;
  font-size: 25px;
  font-weight: bold;
  height: 207px;
  width: 281px;
}

button:hover {
  background-color: white;
  box-shadow: 0 8px 16px 0 black, 0 6px 20px 0 grey;
  color: #AB49DA;
}

img {
  height: 210px;
  width: 210px;
}
/* ----------------------Buttons------------------------------------ */
.change-game-button,
.reset-game-button {
  background-color: #AB49DA;
  cursor: pointer;
  font-size: 22px;
  height: 60px;
  width: 180px;
}

.hoverable:hover {
  transform: scale(0.9);
}

.difficult-mode {
  height: 235px;
  width: 281px;
}

.clickable {
  cursor: pointer;
}
/* ----------------------Sections------------------------------------ */
.selected {
  color: white;
  font-family: 'Kalam', cursive;
  font-size: 32px;
  text-align: center;
}

.all-sections {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  height: 772px;
  justify-content: space-between;
}

.central-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 407px;
}

.choice-icon {
  padding: 5px;
}

.player-section,
.computer-section {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Kalam', cursive;
  font-size: 35px;
  font-weight: bolder;
  height: 800px
}

.title {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Kalam', cursive;
  width: 724px;
}

.left-side,
.right-side {
  align-items: center;
  background-color: #CD82F0;
  display: flex;
  flex-direction: column;
  height: 753px;
  justify-content: space-between;
  margin: 0;
  padding: 9px;
  width: 250px;
}

.player-title {
  padding-bottom: 15px;
}

.player-choices {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 210px;
  justify-content: center;
  width: 660px;
}

.rendered-choices-area {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}
