* {
  margin: 0;
  padding: 0;
}

html {
  height:100%;
  overflow: hidden;
}

h1 {
  font-size: 39px;
}

h1,
h2 {
  color: white;
  border: dashed blue 2px;
}

body {
  height: 100%;
  background-color: #C76AF1;
  margin: -8px;
}

button {
  height: 207px;
  width: 281px;
  cursor: pointer;
  background-color: #AB49DA;
  font-family: 'Passion One', cursive;
  font-size: 15px;
  font-weight: bold;
}

button:hover {
  background-color: white;
}

img {
  height: 210px;
  width: 210px;
}

.change-game-button {
  height: 60px;
  width: 180px;
  cursor: pointer;
  background-color: #AB49DA;
  font-size: 22px;
}

.all-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 772px;
}

.central-section {
  border: solid teal 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 407px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-section,
.computer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Kalam', cursive;
  font-size: 20px;
  font-weight: bolder;
  height: 800px
}

.title {
  font-family: 'Kalam', cursive;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* .classic-section,
.difficult-section {
  font-family: 'Passion One', cursive;
} */

.left-side,
.right-side {
  margin: 0;
  padding: 9px;
  background-color: #CD82F0;
  width: 250px;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.choices {
max-width: 100%;
max-height: 100%;
display: block;
}

.classic-choices,
.difficult-choices {
  display: flex;
  border: solid red 0.5px;
  height: 210px;
  width: 280px;
  justify-content: center;
}

.difficult-choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 460px;
  width: 630px;
}


.hidden {
  display: none;
}



/*
button {
  height: 207px;
  width: 281px;
  cursor: pointer;
}

img {
  max-height: 100%;
  max-width: 100%;
}
.main-section {
  display: flex;
}
.middle-section {
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: -142px;
}

.mid-section {
  padding: 20px;
}

.player-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.computer-section {
  display: flex;
}

.computer-player,
.human-player {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 25%;
}

.classic-mode,
.difficult-mode {
  background-color: #AB49DA
}

.hidden {
  display: none;
} */
