* {
  margin: 0;
  padding: 0;
}

html {
  height:100%;
  overflow: hidden;
}

h1 {
  font-size: 65px;
}

h1,
h2 {
  color: white;
  /* border: dashed blue 2px; */
}

h2 {
  font-size: 25px;
}

body {
  height: 100%;
  background-color: #C76AF1;
  margin: -8px;
}

button {
  height: 207px;
  width: 281px;
  cursor: pointer;
  background-color: #AB49DA;
  font-family: 'Hubballi', cursive;
  font-size: 25px;
  font-weight: bold;
  color: #f0f2f5;
}

button:hover {
  background-color: white;
  color: #AB49DA;

}

img {
  height: 210px;
  width: 210px;
  cursor: pointer;
}

.change-game-button {
  height: 60px;
  width: 180px;
  cursor: pointer;
  background-color: #AB49DA;
  font-size: 22px;
}

.all-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 772px;
}

.central-section {
  /* border: solid teal 1px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 407px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-section,
.computer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Kalam', cursive;
  font-size: 35px;
  font-weight: bolder;
  height: 800px
}

.title {
  font-family: 'Kalam', cursive;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 724px;
}

/* .classic-section,
.difficult-section {
  font-family: 'Passion One', cursive;
} */

.left-side,
.right-side {
  margin: 0;
  padding: 9px;
  background-color: #CD82F0;
  width: 250px;
  height: 753px;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.choices {
max-width: 100%;
max-height: 100%;
display: block;
}

.player-choices,
.difficult-choices {
  display: flex;
  /* border: solid red 0.5px; */
  height: 210px;
  width: 280px;
  justify-content: center;
}

.difficult-choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 460px;
  width: 630px;
}

.difficult-mode {
  height: 235px;
  width: 281px;
}

.hidden {
  display: none;
}



/*
button {
  height: 207px;
  width: 281px;
  cursor: pointer;
}

img {
  max-height: 100%;
  max-width: 100%;
}
.main-section {
  display: flex;
}
.middle-section {
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: -142px;
}

.mid-section {
  padding: 20px;
}

.player-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.computer-section {
  display: flex;
}

.computer-player,
.human-player {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 25%;
}

.classic-mode,
.difficult-mode {
  background-color: #AB49DA
}

.hidden {
  display: none;
} */
