* {
  margin: 0;
  padding: 0;
}

html {
  height:100%;
  overflow: hidden;
}

h1 {
  font-size: 65px;
}

h1,
h2 {
  color: white;
}

h2 {
  font-size: 25px;
}

body {
  height: 100%;
  background-color: #C76AF1;
  margin: -8px;
}

button {
  height: 207px;
  width: 281px;
  cursor: pointer;
  background-color: #AB49DA;
  font-family: 'Hubballi', cursive;
  font-size: 25px;
  font-weight: bold;
  color: #f0f2f5;
}

button:hover {
  background-color: white;
  color: #AB49DA;
}

img {
  height: 210px;
  width: 210px;
  cursor: pointer;
}

.hoverable:hover {
  transform: scale(0.9);
}

.change-game-button {
  height: 60px;
  width: 180px;
  cursor: pointer;
  background-color: #AB49DA;
  font-size: 22px;
}

.all-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 772px;
}

.central-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 407px;
}

.player-section,
.computer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Kalam', cursive;
  color: white;
  font-size: 35px;
  font-weight: bolder;
  height: 800px
}

.title {
  font-family: 'Kalam', cursive;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 724px;
}

.left-side,
.right-side {
  margin: 0;
  padding: 9px;
  background-color: #CD82F0;
  width: 250px;
  height: 753px;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.player-choices {
  display: flex;
  height: 210px;
  width: 660px;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.difficult-mode {
  height: 235px;
  width: 281px;
}

.rendered-choices-area {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}
